

<div class='container-dashboard'>
  <div class='sidebar'>
    <%= link_to '/' do %>
      <div class="logo-tipo">
        <%= image_tag 'logo.png' %>
        <h3>
          Bi.Thesis
        </h3>
      </div>
    <% end %>
      <div class="bar-lines">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <% @lines_all.each_with_index do |line, i| %>
            <% completed = line.assignations.where(user: current_user).first.completed if @lines.include? line %>
            <% if i == @active_line %>
              <a class="nav-link text-center <%= 'completed' if completed %> active mb-3 <%= 'disabled' unless @lines.include? line %>" id="v-pills-<%= line.abrv %>-tab" data-toggle="pill" href="#v-pills-<%= line.abrv %>" role="tab" aria-controls="v-pills-<%= line.abrv %>" aria-selected="true" data-placement="right" title="<%= line.name%>"><i class="<%= line.icon_tag %>"></i></a>
            <% else %>
              <a class="nav-link text-center <%= 'completed' if completed %> mb-3 <%= 'disabled' unless @lines.include? line %>" id="v-pills-<%= line.abrv %>-tab" data-toggle="pill" href="#v-pills-<%= line.abrv %>" role="tab" aria-controls="v-pills-<%= line.abrv %>" aria-selected="false" title="<%= line.name%>" ><i class="<%= line.icon_tag %>"></i></a>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
  <div class="main-dashboard">
    <div class='main-header'>
      <h1>
        Bienvenido <span><%= current_user.first_name %></span>
      </h1>
      <div class="avatar-btn dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="false">
        <%# <i class="fas fa-bars"></i> %>
        <% if current_user.photo.key %>
              <%= cl_image_tag current_user.photo.key, class: "avatar" %>
            <% else %>
              <%= image_tag 'avatar-default.jpg', class: "avatar" %>
            <% end %>
      </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <%= link_to "Mi perfil", about_path, class: "dropdown-item" %>
          <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>

    </div>

    <div class="bar-space"></div>
    <div class='content'>
      <div class="tab-content" id="v-pills-tabContent">
            <% @lines.each_with_index do |line,i| %>
                <% if i.zero? %>
                  <div class="tab-pane fade show active" id="v-pills-<%= line.abrv %>" role="tabpanel" aria-labelledby="v-pills-<%= line.abrv %>-tab">
                    <div class='title-line'>
                      <h2><%= line.name %></h2>

                    <%# Estatus de la línea %>
                      <div class="status-line">
                        <% if line.assignations.where(user: current_user).first.completed %>
                          <p><i class="far fa-check-circle"></i> Línea completada</p>
                          <%# else %>
                          <%# <div class='progress-circles'> %>
                            <%# line.stations.each do |station| %>
                              <%# st = StationStatus.where(station: station, user: current_user) %>
                              <%#= sanitize "<i class='fas fa-circle #{ st.first.completed ? 'green' : 'green-2' }'></i>" %>
                            <%# end %>
                          <%# </div> %>
                        <% end %>
                      </div>
                    </div>

                    <%# Generar pestañas con nombres de estaciones %>

                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <% line.stations.each_with_index do |station,i| %>
                          <% if i.zero? %>
                            <a class="nav-link active" id="nav-<%= station.abrv %>-tab" data-toggle="tab" href="#nav-<%= station.abrv %>" role="tab" aria-controls="nav-<%= station.abrv %>" aria-selected="true"><%= station.name %></a>
                          <% else %>
                            <a class="nav-link" id="nav-<%= station.abrv %>-tab" data-toggle="tab" href="#nav-<%= station.abrv %>" role="tab" aria-controls="nav-<%= station.abrv %>" aria-selected="false"><%= station.name %></a>
                          <% end %>
                        <% end %>
                      </div>
                    </nav>


                    <%# Contenido de las estaciones %>

                    <div class="tab-content" id="nav-tabContent">
                      <% line.stations.each_with_index do |station,i| %>
                          <% if i.zero? %>
                            <div class="tab-pane fade show active" id="nav-<%= station.abrv %>" role="tabpanel" aria-labelledby="nav-<%= station.abrv %>-tab">
                              <div class="content-dash">
                                <p>
                                <%= sanitize station.content %>
                                </p>
                                <%# <iframe src="http://docs.google.com/gview?url=http://www.educoas.org/portal/bdigital/contenido/valzacchi/ValzacchiCapitulo-2New.pdf&embedded=true" style="width:100%; height:700px;" frameborder="0" ></iframe> %>
                                <% if station.tasks %>
                                  <% station.tasks.each do |task| %>
                                    <div class="card-task">
                                      <% if task.tipo == 'video' %>
                                        <div class='container-video'>
                                          <div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="<%= task.url %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
                                        </div>
                                      <% elsif task.tipo == 'file' %>
                                        <div class='container-video'>
                                          <iframe src="<%= task.url %>" style="width:100%; height:700px;" frameborder="0" ></iframe>
                                        </div>
                                      <% else %>
                                          <div class='container-upload'>
                                            <%= simple_form_for task, remote: true do |f| %>
                                            <%= f.input :photo, as: :file, input_html: {class:"custom-file-input"}, label: 'Sube tu archivo aqui' %>
                                            <%= f.button :submit, class: 'btn-yours', value: 'Subir archivo' %>
                                            <% end %>
                                            <div class='container-file'>
                                              <% if task.photo.key %>
                                                <i class='fas fa-file-word'></i> <%= link_to task.photo.filename, task.photo.url, target: '_blank' %>
                                              <% end %>
                                            </div>
                                          </div>
                                      <% end %>
                                      <% st_status = StationStatus.where(user: current_user, station: station).first %>

                                      <% status = TaskStatus.where(user: current_user, task: task).first %>
                                      <%# controler %>
                                      <div data-controller='completed'  data-completed-update-url="<%= task_status_path(status) %>" data-completed-status-id="<%= station_status_path(st_status) %>">
                                        <% if task.auto_check %>
                                          <div class="checkbox-wrapper">
                                            <input class='checkbox' type="checkbox" name="completed" id="completed" data-completed-target='completed' data-action='click->completed#update_status' <%= 'checked' if status.completed %> >
                                            <label for="completed">Marcar como terminado</label>
                                          </div>
                                        <% end %>
                                      </div>
                                      <%# ---- %>
                                    </div>
                                  <% end %>
                                <% end %>
                              </div>
                            </div>
                          <% else %>
                            <div class="tab-pane fade" id="nav-<%= station.abrv %>" role="tabpanel" aria-labelledby="nav-<%= station.abrv %>-tab">
                              <div class="content-dash">
                                <p>
                                <%= sanitize station.content %>
                                </p>
                                <% if station.tasks %>
                                  <% station.tasks.each do |task| %>
                                    <div class="card-task">
                                      <% if task.tipo == 'video' %>
                                        <div class='container-video'>
                                          <div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="<%= task.url %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
                                        </div>
                                      <% elsif task.tipo == 'file' %>
                                        <div class='container-video'>
                                          <iframe src="<%= task.url %>" style="width:100%; height:700px;" frameborder="0" ></iframe>
                                        </div>
                                      <% else %>
                                          <div class='container-upload'>
                                            <%= simple_form_for task, remote: true do |f| %>
                                            <%= f.input :photo, as: :file, input_html: {class:"custom-file-input"}, label: 'Sube tu archivo aqui' %>
                                            <%= f.button :submit, class: 'btn-yours', value: 'Subir archivo' %>
                                            <% end %>
                                            <div class='container-file'>
                                              <% if task.photo.key %>
                                                <i class='fas fa-file-word'></i> <%= link_to task.photo.filename, task.photo.url, target: '_blank' %>
                                              <% end %>
                                            </div>
                                          </div>
                                      <% end %>
                                      <% st_status = StationStatus.where(user: current_user, station: station).first %>

                                      <% status = TaskStatus.where(user: current_user, task: task).first %>
                                      <%# controler %>
                                      <div data-controller='completed'  data-completed-update-url="<%= task_status_path(status) %>" data-completed-status-id="<%= station_status_path(st_status) %>">
                                        <% if task.auto_check %>
                                          <div class="checkbox-wrapper">
                                            <input class='checkbox' type="checkbox" name="completed" id="completed" data-completed-target='completed' data-action='click->completed#update_status' <%= 'checked' if status.completed %> >
                                            <label for="completed">Marcar como terminado</label>
                                          </div>
                                        <% end %>
                                      </div>
                                    </div>
                                  <% end %>
                                <% end %>
                              </div>
                            </div>
                          <% end %>
                      <% end %>
                    </div>

                  </div>
                <% else %>
                  <div class="tab-pane fade" id="v-pills-<%= line.abrv %>" role="tabpanel" aria-labelledby="v-pills-<%= line.abrv %>-tab">
                    <div class='title-line'>
                      <h2><%= line.name %></h2>
                      <%# Estatus de la línea %>

                      <div class="status-line">
                        <% if line.assignations.where(user: current_user).first.completed %>
                          <p><i class="far fa-check-circle"></i> Línea completada</p>
                          <%# else %>
                          <%# <div class='progress-circles'> %>
                            <%# line.stations.each do |station| %>
                              <%# st = StationStatus.where(station: station, user: current_user) %>
                              <%#= sanitize "<i class='fas fa-circle #{ st.first.completed ? 'green' : 'green-2' }'></i>" %>
                            <%# end %>
                          <%# </div> %>
                        <% end %>
                      </div>
                    </div>
                    <nav>

                    <%# Pestañas de staciones %>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <% line.stations.each_with_index do |station,i| %>
                          <% if i.zero? %>
                            <a class="nav-link active" id="nav-<%= station.abrv %>-tab" data-toggle="tab" href="#nav-<%= station.abrv %>" role="tab" aria-controls="nav-<%= station.abrv %>" aria-selected="true"><%= station.name %></a>
                          <% else %>
                            <a class="nav-link" id="nav-<%= station.abrv %>-tab" data-toggle="tab" href="#nav-<%= station.abrv %>" role="tab" aria-controls="nav-<%= station.abrv %>" aria-selected="false"><%= station.name %></a>
                          <% end %>
                        <% end %>
                      </div>
                    </nav>

                    <%# Contenido %>

                    <div class="tab-content" id="nav-tabContent">
                      <% line.stations.each_with_index do |station,i| %>
                          <% if i.zero? %>
                            <div class="tab-pane fade show active" id="nav-<%= station.abrv %>" role="tabpanel" aria-labelledby="nav-<%= station.abrv %>-tab">
                              <div class="content-dash">
                                <p>
                                  <%= sanitize station.content %>
                                </p>
                                <% if station.tasks %>
                                  <% station.tasks.each do |task| %>
                                    <div class="card-task">
                                      <% if task.tipo == 'video' %>
                                        <div class='container-video'>
                                          <div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="<%= task.url %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
                                        </div>
                                      <% elsif task.tipo == 'file' %>
                                        <div class='container-video'>
                                          <iframe src="<%= task.url %>" style="width:100%; height:700px;" frameborder="0" ></iframe>
                                        </div>
                                      <% else %>
                                        <div class='container-upload'>
                                            <%= simple_form_for task, remote: true do |f| %>
                                            <%= f.input :photo, as: :file, input_html: {class:"custom-file-input"}, label: 'Sube tu archivo aqui' %>
                                            <%= f.button :submit, class: 'btn-yours', value: 'Subir archivo' %>
                                            <% end %>
                                            <div class='container-file'>
                                              <% if task.photo.key %>
                                                <i class='fas fa-file-word'></i> <%= link_to task.photo.filename, task.photo.url, target: '_blank' %>
                                              <% end %>
                                            </div>
                                          </div>
                                      <% end %>
                                      <% st_status = StationStatus.where(user: current_user, station: station).first %>
                                      <% status = TaskStatus.where(user: current_user, task: task).first %>
                                      <%# controler %>
                                      <div data-controller='completed'  data-completed-update-url="<%= task_status_path(status) %>" data-completed-status-id="<%= station_status_path(st_status) %>">
                                        <% if task.auto_check %>
                                          <div class="checkbox-wrapper">
                                            <input class='checkbox' type="checkbox" name="completed" id="completed" data-completed-target='completed' data-action='click->completed#update_status' <%= 'checked' if status.completed %> >
                                            <label for="completed">Marcar como terminado</label>
                                          </div>
                                        <% end %>
                                      </div>
                                    </div>
                                  <% end %>
                                <% end %>
                              </div>
                            </div>
                          <% else %>
                            <div class="tab-pane fade" id="nav-<%= station.abrv %>" role="tabpanel" aria-labelledby="nav-<%= station.abrv %>-tab">
                              <div class="content-dash">
                                <p>
                                  <%= sanitize station.content %>
                                </p>
                                <% if station.tasks %>
                                  <% station.tasks.each do |task| %>
                                    <div class="card-task">
                                      <% if task.tipo == 'video' %>
                                        <div class='container-video'>
                                          <div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="<%= task.url %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
                                        </div>
                                      <% elsif task.tipo == 'file' %>
                                        <div class='container-video'>
                                          <iframe src="<%= task.url %>" style="width:100%; height:700px;" frameborder="0" ></iframe>
                                        </div>
                                      <% else %>
                                          <div class='container-upload'>
                                            <%= simple_form_for task, remote: true do |f| %>
                                            <%= f.input :photo, as: :file, input_html: {class:"upload-file"}, label: 'Sube tu archivo aqui' %>
                                            <%= f.button :submit, class: 'btn-yours', value: 'Subir archivo' %>
                                            <% end %>
                                            <div class='container-file'>
                                              <% if task.photo.key %>
                                                <i class='fas fa-file-word'></i> <%= link_to task.photo.filename, task.photo.url, target: '_blank' %>
                                              <% end %>
                                            </div>
                                          </div>
                                      <% end %>
                                      <% st_status = StationStatus.where(user: current_user, station: station).first %>
                                      <% status = TaskStatus.where(user: current_user, task: task).first %>
                                      <%# controler %>
                                      <div data-controller='completed'  data-completed-update-url="<%= task_status_path(status) %>" data-completed-status-id="<%= station_status_path(st_status) %>">
                                        <% if task.auto_check %>
                                          <div class="checkbox-wrapper">
                                            <input class='checkbox' type="checkbox" name="completed" id="completed" data-completed-target='completed' data-action='click->completed#update_status' <%= 'checked' if status.completed %> >
                                            <label for="completed">Marcar como terminado</label>
                                          </div>
                                        <% end %>
                                      </div>
                                    </div>
                                  <% end %>
                                <% end %>
                              </div>
                            </div>
                          <% end %>
                      <% end %>
                    </div>

                  </div>
                <% end %>
            <% end %>
          </div>
      <div class="content-side">
        <div class="box-chat">
          <div class="container">
            <div class="row clearfix">
              <div class="col-lg-12">
                <div class="chat-app">
                  <div class="chat">
                    <div class="chat-history">
                      <ul class="m-b-0">
                        <li class="clearfix">
                            <div class="message-data text-right">
                                <span class="message-data-time">10:10 AM, Hoy</span>
                                <% if User.find(1).photo.key %>
                                  <%= cl_image_tag User.find(1).photo.key %>
                                <% else %>
                                  <%= image_tag 'avatar-default' %>
                                <% end %>
                            </div>
                            <div class="message other-message float-right"> Hola Mel, ¿cómo estás? ¿Cómo va tu avance? </div>
                        </li>
                        <li class="clearfix">
                            <div class="message-data">
                                <% if current_user.photo.key %>
                                  <%= cl_image_tag current_user.photo.key %>
                                <% else %>
                                  <%= image_tag 'avatar-default' %>
                                <% end %>
                                <span class="message-data-time">10:12 AM, Hoy</span>
                            </div>
                            <div class="message my-message">¿Nos reunimos hoy?</div>
                        </li>
                        <li class="clearfix">
                            <div class="message-data">
                                <% if current_user.photo.key %>
                                  <%= cl_image_tag current_user.photo.key %>
                                <% else %>
                                  <%= image_tag 'avatar-default.jpg' %>
                                <% end %>
                                <span class="message-data-time">10:15 AM, Hoy</span>
                            </div>
                            <div class="message my-message">El proyecto ya ha sido terminado y tengo resultados para mostrarte.</div>
                        </li>
                      </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-solid fa-paper-plane"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enviar un mensaje...">
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-interview">
         <div class="calendar-container">
            <%= month_calendar(events: @meetings, end_attribute: :end_time) do |date, meetings| %>
              <%= date %>

              <% meetings.each do |meeting| %>
                <div class="meeting">
                  <p><%= meeting.name %></p>
                  <small><%= meeting.time unless meeting.multi_days? %></small>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
