<div class='container-dashboard'>
  <div class='sidebar'>
    <%= link_to '/' do %>
      <div class="logo-tipo">
        <%= image_tag 'logo.png' %>
        <h3>
          Bi.Thesis
        </h3>
      </div>
    <% end %>
  </div>
  <div class="main-dashboard">
    <div class='main-header'>
      <h1>
        Bienvenida <span><%= current_user.first_name %></span>
      </h1>
      <div class="avatar-btn dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="false">
        <%# <i class="fas fa-bars"></i> %>
            <% if current_user.photo.key %>
              <%= cl_image_tag current_user.photo.key, class: "avatar" %>
            <% else %>
              <%= image_tag 'avatar-default', class: "avatar" %>
            <% end %>
      </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <%= link_to "Mi perfil", about_path, class: "dropdown-item" %>
          <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
    </div>

    <div class="bar-space">
    </div>
    <!-- Inicio tabla datos alummni -->
    <div class="container">
      <h2 class="text-center">Tus asesorados</h2>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Avatar</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Email</th>
            <th scope="col">Fecha Inicio</th>
            <th scope="col">Detalles</th>
          </tr>
        </thead>
        <% @dashboard.each do |alummni| %>
          <tbody>
            <tr>
              <td scope="row">
                <% if current_user.photo.key %>
                  <%= cl_image_tag(alummni.photo.key, class: "avatar", default: "") %>
                <% else %>
                  <%= image_tag 'avatar-default', class: "avatar" %>
                <% end %>
              </td>
              <td><%= alummni.first_name %></td>
              <td><%= alummni.last_name %></td>
              <td><%= alummni.email %></td>
              <td><%= alummni.created_at.strftime('%d/%m/%y') %></td>
              <td><%= link_to '<i class="fas fa-info-circle"></i>'.html_safe, line_path(alummni), class:"btn btn-detallea" %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <!-- Fin de la tabla datos alummnis -->
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    swal("Bienvenido <%= current_user.first_name %>", 'Te has logeado correctamente', 'success', {
          buttons: false,
          timer: 2500,
        });
</script>
