<div class='container-dashboard'>
  <div class='sidebar'>
    <%= link_to '/' do %>
      <div class="logo-tipo">
        <%= image_tag 'logo.png' %>
        <h3>
          Bi.Thesis
        </h3>
      </div>
    <% end %>
  </div>
  <div class="main-dashboard">
    <div class='main-header'>
      <h1>
        Bienvenido <span><%= current_user.first_name %></span>
      </h1>
      <div class="avatar-btn dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="false">
        <%# <i class="fas fa-bars"></i> %>
        <% if current_user.photo.key %>
              <%= cl_image_tag current_user.photo.key, class: "avatar" %>
            <% else %>
              <%= image_tag 'avatar-default.jpg', class: "avatar" %>
            <% end %>
      </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <%= link_to "Mi perfil", about_path, class: "dropdown-item" %>
          <%= link_to "Cerrar sesi칩n", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
    </div>
    <div class="bar-space"></div>
    <div class='interview-info'>
      <div class="row">
        <div class="col-2 text-center">
          <i class=" fas fa-solid fa-clipboard-check icono-check"></i>
        </div>
        <div class="col-10 text-reserva">
          <h2>La solicitud ha sido generada exitosamente</h2>
          <h6>Recibir치s pronto un correo de confirmaci칩n con el link de la reuni칩n.</h6>
          <div class="d-flex">
            <h6 class="fecha">Fecha:</h6>
            <h6><strong><%= @date %></strong></h6>
          </div>
        </div>
      </div>
      <br>
      <p class="text-center"><%= link_to "Volver", root_path, class: "btn-yours" %></p>
    </div>
  </div>
</div>
