<p><%= @alummni.photo.key %></p>
<%= @alummni.first_name %>
<%= @alummni.last_name %>
<%= @alummni.email %>
<%= @alummni.university %>
<%= @alummni.level_instruction %>
<%= @alummni.phone %>
<%= @alummni.created_at %>
<%= @status.line_id %>
<%= @status.completed %>