<div class="container mt-5">

  <h1 class="display-4" >¡Hola <%= current_user.first_name %>!</h1>
  <div class="profile d-flex justify-content-between">
    <div class='flex-fill'>
      <strong>Nombres y apellidos</strong>
      <p><%= "#{@user.first_name} #{@user.last_name}" %></p>
      <strong>Correo electrónico</strong>
      <p><%= @user.email %></p>
    </div>
  </div>

    <%# <p><%= link_to 'dashoard', dashboard %></p>
    <p><%= link_to 'Edita tu perfil', edit_user_registration_path %></p>
    <p><%= link_to 'Ir al dashboard', lines_path %></p>
</div>
