<div class="background-perfil">

</div>

<div class='container-perfil'>
<br>
<br>
<br>
  <div class="title-perfil text-center">
    <h1>¡Hola <%= current_user.first_name %>!</h1>
  </div>
  <div class="card-perfil-2 d-flex justify-content-between">
    <div>
      <h4><strong>Nombres y apellidos</strong></h4>
      <p><%= "#{@user.first_name} #{@user.last_name}" %></p>
      <h4><strong>Correo electrónico</strong></h4>
      <p><%= @user.email %></p>
      <p><%= link_to 'Edita tu perfil', edit_user_registration_path, class:"btn-yours" %></p>
    </div>
    <br>
    <%= image_tag "perfil.jpg", class:"img-perfil" %>
  </div>
  </div>
</div>
