<div class="espacio-navbar">
</div>
<div class="background-perfil">
</div>

<div class='container-perfil'>
  <div class="title-perfil text-center">
    <h1>¡Hola <%= current_user.first_name %>!</h1>
  </div>
  <div class="card-perfil-2 ">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h5><strong>Nombres y apellidos</strong></h5>
          <p><i class="fas fa-angle-right fecha"></i><%= "#{@user.first_name} #{@user.last_name}" %></p>
          <h5><strong>Correo electrónico</strong></h5>
          <p><i class="fas fa-angle-right fecha"></i><%= @user.email %></p>
          <h5><strong>Universidad</strong></h5>
          <p><i class="fas fa-angle-right fecha"></i><%= current_user.university %></p>
          <h5><strong>Nivel de instrucción</strong></h5>
          <p><i class="fas fa-angle-right fecha"></i><%= current_user.level_instruction %></p>
          <h5><strong>Celular</strong></h5>
          <p><i class="fas fa-angle-right fecha"></i><%= current_user.phone %></p>
        </div>
        <div class="col-6">
        <% if current_user.photo.key %>
          <%= cl_image_tag current_user.photo.key, width:"300" %>
        <% else %>
          <%= image_tag "avatar-default.jpg", width:"300" %>
        <% end %>
        </div>
      </div>
    </div>
    <div class="text-center">
      <p><%= link_to 'Edita tu perfil', edit_user_registration_path, class:"btn-yours" %></p>
    </div>
  </div>
</div>
