<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://icdn.dtcn.com/image/digitaltrends_es/university-student-1872810_1280-1280x853.jpg);">
  <div class="container">
    <h1>Bienvenido a Bi-Thesis</h1>
    <br>
    <%= link_to 'Solicita una entrevista', new_user_registration_path, class: 'btn-yours' %>
  </div>
</div>


<div class="container card-home align-items-center">
  <div class="card-text-3">
    <h5>Desarrollar tu tesis si es posible</h5>
    <p>Te presentamos la mejor plataforma de acompañamiento</p>
  </div>
  <div>
    <%= image_tag "graduacion_home.jpg", class:"img-home" %>
  </div>
</div>

<div class="container my-5">
  <div class="d-flex justify-content-between">
    <div>
      <div class="card m-2 p-0">
        <%= image_tag "card-1.jpg"%>
        <div class="card-body">
          <h5><%= link_to 'Recursos gratuitos', recursos_path, class: "card-title" %></h5>
          <p class="card-text">Lo que necesitas saber para iniciar tu tesis.¡Te lo ofrecemos gratis!</p>
        </div>

      </div>
    </div>
    <div>
      <div class="card m-2 p-0">
        <%= image_tag "card-2.jpg"%>
        <div class="card-body">
          <h5 class="card-title">Nuestros cursos</h5>
          <p class="card-text">Conoce nuestra oferta adaptada a tus necesidades y circunstancias.</p>
        </div>
      </div>
    </div>
    <div>
      <div class="card m-2 p-0">
        <%= image_tag "card-3.jpg"%>
        <div class="card-body">
          <h5><%= link_to 'Bi-Thesis Premium', new_user_registration_path, class: "card-title" %></h5>
          <p class="card-text">Plan acompañamiento personalizado para desarrollar tu tesis.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex" id="conocenos">
  <div class="d-flex align-items-center card-text-2">
    <div>
      <h2>Conoce a nuestro equipo</h2>
      <p>Estamos encantados de ayudarte y acompañarte en el desarrollo de tu tesis, para que logres el tan anhelado grado académico para tu futuro.</p>
    </div>
  </div>
  <div class="d-flex">
    <div class="d-flex align-items-center">
      <%= image_tag "person_1.jpg" %>
    </div>
    <div>
      <%= image_tag "person_2.jpg" %>
      <%= image_tag "person_3.jpg" %>
    </div>
  </div>
</div>

<div class="container d-flex card-final">
  <div class="cards-final w-50">
    <div class="card-final-2">
      <h4>Nombre y apellido</h4>
      <p>02/02/2022</p>
      <hr>
      <div class="d-flex">
        <div>
          <p>Tema de tesis (carrera)</p>
          <p>Descripción de todo el comentario y experiencia</p>
        </div>
        <%= image_tag "perfil.jpg", class:"rounded" %>
      </div>
    </div>
    <div class="card-final-2">
      <h4>Nombre y apellido</h4>
      <p>02/02/2022</p>
      <div class="d-flex">
        <div>
          <p>Tema de tesis (carrera)</p>
          <p>Descripción de todo el comentario y experiencia</p>
        </div>
        <%= image_tag "perfil.jpg", class:"rounded" %>
    </div>
    <div class="card-final-2">
      <h4>Nombre y apellido</h4>
      <p>02/02/2022</p>
      <div class="d-flex">
        <div>
          <p>Tema de tesis (carrera)</p>
          <p>Descripción de todo el comentario y experiencia</p>
        </div>
        <%= image_tag "perfil.jpg", class:"rounded" %>
      </div>
     </div>
    </div>
  </div>

  <div class="card-text-3 w-50">
    <h5>Testimonios de nuestros asesorados</h5>
    <p>Nuestra mayor motivación es hacer de tu tesis un paso de tu proyecto de vida, y nos alegra aún más si con cada tesis ayudamos a mejorar la sociedad.</p>
  </div>
</div>


<%= render 'shared/footer' %>
